*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
body{
    font-family: 'Noto Serif TC', sans-serif;
}
P.redred{
    color:rgb(128, 94, 57);
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color: pink;
    border:10px solid;
    border-color:rgb(160, 105, 60)
}
p{
    color: rgb(155, 83, 28);
}
.blueblue{
    color: rgb(249, 36, 171);
}

.expedu_icon{
    color:rgb(152, 67, 21);
}

.expedu_icon:hover{
background-color: rgb(227, 129, 49);
color:whitesmoke;
}

.bg-primary{
    background-color: rgb(220, 175, 60)!important;
    background-image: url(../assets/img/635E291F-DF2C-4B1D-9D45-53BB26349822.jpg);
    background-position-x: center;
    
}

ol.Jerrylist{
    list-style-type: upper-alpha
}
ol.Jerrylist>li:hover{
    background-color: black;
}
table.Jerrytable th{
    width: 100%;
    background-color: rgb(117, 106, 40);
    color:white
}
table.Jerrytable td{
    text-align: center;
}
table.Jerrytable tr:nth-child(even){
    background-color:darkred
}
table.Jerrytable tr:nth-child(odd){
    background-color: darkblue;
}