*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}
P.redred{
    color:red;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
}
p{
    color: rgb(45, 12, 1);
}
.blueblue{
    color: rgb(25, 6, 137);
}